*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

#main-container{
    width: 730px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#container{
    background-color: white;
    display: flex;
    border-radius: 10px;
}

#drawer-mobile{
    display: none;
}

#drawer{
    width: 285px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    flex: 40%;
    background: url(./images/drawers.jpg) right -67px bottom 0;
    background-size: 123%;
}

#text{
    padding: 30px 40px;
    flex: 60%;
}

h2{
    color: hsl(217, 19%, 35%);
    margin-bottom: 20px;
}

span{
    color: hsl(212, 23%, 69%);
}

#avatar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 40px;
    position: relative;
}

#image-name{
    display: flex;
}

#avatar{
    width: 40px;
    border-radius: 50%;
}

#name{
    line-height: 20px;
    margin-left: 15px;
}

#date{
    color: hsl(212, 23%, 69%);
}

button{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(210, 46%, 95%);
    z-index: 30;
}

button:hover{
    background-color: hsl(217, 19%, 35%);
}

#share-tip{
    display: none;
    width: 250px;
    list-style: none;
    background-color: hsl(217, 19%, 35%);
    padding: 10px 20px;    
    border-radius: 10px;
    position: absolute;
    top: -80px;
    right: -109px;
    text-align: center;
}

#share-tip::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 115px;
	border: 10px solid transparent;
	border-top-color: hsl(217, 19%, 35%);
}

#share-tip li{
    display: inline-block;
    letter-spacing: 5px;
    line-height: 40px;
    margin: auto 5px;
}

#share-tip img{
    vertical-align: middle;
}

a{
    color: hsl(212, 23%, 69%);
    text-decoration: none;
}

a:hover{
    opacity: .6;
}

#share-box-mobile{
    display: none;
}

@media (max-width: 800px){
    
    #main-container{
        width: 325px;
        height: 100vh;
    }
    
    #container{
        flex-direction: column;
        width: 100%;
    }

    #drawer{
        display: none;
    }

    #drawer-mobile{
        display: flex;
        width: 100%;
        min-height: 200px;
        background: url(./images/drawers.jpg) no-repeat right 0 bottom -45px;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    #text{
        width: 100%;
        padding: 0;
        position: relative;
    }

    h2, span{
        display: block;
        margin: 30px;
        line-height: 1.5;
    }

    h2{
        font-size: 16px;
        margin-bottom: 20px;
    }

    span{
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    #avatar-box{
        margin: 30px 30px 20px;
        z-index: 10;
    }

    #share-tip{
        width: 325px;
        top: -20px;
        right: -30px;
        z-index: 20;
        text-align: left;
        padding: 20px 30px;
        border-radius: 0 0 10px 10px;
    }

    #share-tip::after {
        display: none;
    }
}